* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter Variable', sans-serif;
}

a {
  text-decoration: none;
}

span.MuiTabs-indicator.css-15eor1k-MuiTabs-indicator {
  display: none;
}

.MuiTabs-root.css-1ujnqem-MuiTabs-root {
  min-height: fit-content !important;
}
